@model Restaurante_API.Models.Usuario
@{
    ViewData["Title"] = "Registro";
}
@using (Html.BeginForm("Registro", "Login", FormMethod.Post))
{
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>Ticos Cuisine</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">

                                <label asp-for="nombre">Nombre de usuario:</label>
                                <input asp-for="nombre" required />
                            </div>
                            <div class="form-group">
                                <label asp-for="clave">Contraseña:</label>
                                <input asp-for="clave" type="password" required />
                            </div>
                            <div class="form-group">
                                <label>Rol:</label>
                                <select name="rol">
                                    <option value="Cliente">Cliente</option>
                                    <option value="Administrador">Administrador</option>
                                </select>
                            </div>
                            <br />
                            <button type="submit" class="btn btn-danger btn-block">Registrarse</button>
                            <div class="text-center mt-3">
                                <a href="/Login" class="btn btn-link">¿Ya tienes una cuenta? Inicia sesion aquí</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}